<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/images/logofindme.jpeg">
    <link href="" rel="stylesheet">

    <title>Findme</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/owl.css">

  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="index.html"><h2> <img style="width: 75px;" src="assets/images/FM.png" alt="">  Findme </h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Inicio
                      <span class="sr-only">(current)</span>
                    </a>
                </li> 

                <li class="nav-item"><a class="nav-link" href="servicios.html">Servicios</a></li>                              

               <!--  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Servicios</a>
                    
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="blog.html">Blog</a>
                      <a class="dropdown-item" href="team.html">Team</a>
                      <a class="dropdown-item" href="testimonials.html">Testimonials</a>
                      <a class="dropdown-item" href="terms.html">Terms</a>
                    </div>
                </li> -->

                <li class="nav-item"><a class="nav-link" href="about-us.html">Eres profesional?</a></li>
                               
            </ul>
          </div>
        </div>
      </nav>      
    </header>

    <!-- Page Content -->
    <div class="page-heading about-heading header-text" style="background-image: url(assets/images/heading-6-1920x500.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h2>Nuestras categorias</h2>
              <h4>Encuentra todos los profesionales que necesitas para tu hogar.</h4>             
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="products">
      <div class="container">
        <div class="row">

          <!--Servicios albañil-->
          <div class="col-md-3">
            <div class="product-item">             
              <a href="team.html">
              <img class="zoom" src="assets/images/product-1-370x270.jpg" alt="">
              </a>
              <div class="container-enlarge">               
                <span>                 
                  <h4>Albañil</h4>
                </span>
              </div>
            </div>
          </div>

            <!--Servicios Arquitecto-->
            <div class="col-md-3">
              <div class="product-item">             
                <a href="team.html">
                <img class="zoom" src="assets/images/product-1-370x270.jpg" alt="">
                </a>
                <div class="container-enlarge">               
                  <span>                 
                    <h4>Arquitecto</h4>
                  </span>
                </div>
              </div>
            </div>

              <!--Servicios Autos-->
          <div class="col-md-3">
            <div class="product-item">             
              <a href="team.html">
              <img class="zoom" src="assets/images/product-1-370x270.jpg" alt="">
              </a>
              <div class="container-enlarge">               
                <span>                 
                  <h4>Albañil</h4>
                </span>
              </div>
            </div>
          </div>
          
            <!--Servicios Belleza-->
            <div class="col-md-3">
              <div class="product-item">             
                <a href="servicios.html">
                <img class="zoom" src="assets/images/product-1-370x270.jpg" alt="">
                </a>
                <div class="container-enlarge">               
                  <span>                 
                    <h4>Albañil</h4>
                  </span>
                </div>
              </div>
            </div>
          
          </div>

          <div class="col-md-12">
            <ul class="pages">
              <li><a href="#">1</a></li>
              <!-- <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li> -->
              <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
            </ul>
          </div>
        </div>
      </div>  
      <div class="col-lg-4 col-md-6 text-center">              
      <a href="login.html" class="filled-button" style="text-align: center;">Ver mas</a>
    </div>

      <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="inner-content">
                <p>Copyright © 2021 EasyJobs <a href="#"></a></p>
              </div>
              <div class="innner-content">
                <p><a href="index.html"></a>Acerca de nosotros</p>
                <p><a href="index.html"></a>Acerca de nosotros</p>
              </div>
            </div>
          </div>
        </div>
      </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="jquery.mlens-1.2.min.js"></script>


    <!-- Additional Scripts -->
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/owl.js"></script>
  </body>

</html>
